.loading-label {
  text-align: center;
  font-weight: 300;
  place-items: center;
  place-content: center;
  height: 60px;
  display: flex;
  margin: 0;
}

.mat-mdc-card {
  padding: 0;
  margin-bottom: 3em;
  overflow: hidden;
}

.mat-mdc-card-header {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  height: 40px;
}

.mat-mdc-card-content {
  position: relative;
  overflow: hidden;
  padding: 1px !important;
  margin-top: 0;
  margin-bottom: 0;
}

.mat-mdc-card-footer {
  margin: 0 !important;
  display: flex;
  flex-direction: row-reverse;

  .gist-url {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
    color: white;
    text-decoration: unset;
  }

  .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    //color: #d32f2f;
  }

  .mat-mdc-button {
    --mdc-text-button-container-shape: 0;
  }
}

.mat-icon {
  margin: 0 3px;
}

.code-wrapper {
  border-radius: 3px 3px 0 0;
}
