<mat-card>
  <mat-card-content>
    <div class="code-wrapper hljs" [gist]="id()" (gistLoad)="gist = $event">
      @if (gist) {
        <mat-tab-group dynamicHeight>
          @for (file of gist?.files | keyvalue; track file.key) {
            <mat-tab [label]="file.value.filename">
              <app-code [code]="gist | gistFile: file.key"/>
            </mat-tab>
          }
        </mat-tab-group>
      } @else {
        <div class="loading">
          <h3 class="loading-label">
            @if (hljs.hljs()) {
              Loading gist...
            } @else {
              Loading highlight.js library...
            }
          </h3>
          <mat-progress-bar mode="indeterminate"/>
        </div>
      }
    </div>
  </mat-card-content>
  <mat-card-footer>
    <a mat-button class="gist-url" [href]="gist?.html_url" target="_blank">
      <mat-icon>link</mat-icon>
      Open gist on Github
    </a>
  </mat-card-footer>
</mat-card>
