@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

// Define the theme object.
$ngx-highlightjs-demo-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$red-palette,
    tertiary: mat.$rose-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  --header-bg: mat.get-theme-color($ngx-highlightjs-demo-theme, primary, 60);

  @include mat.all-component-themes($ngx-highlightjs-demo-theme);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: mat.get-theme-color($ngx-highlightjs-demo-theme, primary, 20);
}

h3 {
  color: white;
  font-weight: 300;
  margin: 3em 0 1.5em;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ng-scrollbar.ng-scrollbar {
  --scrollbar-thumb-color: orange;
  --scrollbar-track-color: rgb(0 0 0 / 20%);
  --scrollbar-hover-thickness: 10;
}
