/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-gray-palette, 700);
$my-accent: mat.define-palette(mat.$grey-palette, 800);
$my-warn: mat.define-palette(mat.$lime-palette, 400);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: mat.get-color-from-palette(mat.define-palette(mat.$blue-gray-palette, 600));
}

h3 {
  color: white;
  font-weight: 300;
  margin: 3em 0 1.5em;
}
