/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@import '~normalize.css';

@include mat.core();

$primary: mat.define-palette(mat.$red-palette, 700);
$accent: mat.define-palette(mat.$grey-palette, 800);
$warn: mat.define-palette(mat.$lime-palette, 400);
$theme: mat.define-dark-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, 900));
}

h3 {
  color: white;
  font-weight: 300;
  margin: 3em 0 1.5em;
}
