<div fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center" class="grid">

  <div class="logo">
    <img class="ng-logo" src="assets/logo.svg" />
  </div>

  <div class="intro">
    <h1>Angular Highlight.js</h1>
    <p>Instant code highlighting, auto-detect language, super easy to use!</p>

    <div class="badges">

      <a href="https://www.npmjs.com/package/ngx-highlightjs">
        <img src="https://img.shields.io/npm/v/ngx-highlightjs.svg?maxAge=2592000?style=plastic" data-canonical-src="https://www.npmjs.com/package/ngx-highlightjs">
      </a>
      <a href="https://travis-ci.org/MurhafSousli/ngx-highlightjs">
        <img src="https://travis-ci.org/MurhafSousli/ngx-highlightjs.svg?branch=master" data-canonical-src="https://travis-ci.org/MurhafSousli/ngx-highlightjs">
      </a>
      <!--DOWNLOADS-->
      <a href="https://www.npmjs.com/package/ngx-highlightjs">
        <img src="https://img.shields.io/npm/dt/ngx-highlightjs.svg?maxAge=2592000?style=plastic" data-canonical-src="https://www.npmjs.com/package/ngx-highlightjs">
      </a>
      <!--MONTHLY DOWNLOADS-->
      <a href="https://www.npmjs.com/package/ngx-highlightjs">
        <img src="https://img.shields.io/npm/dm/ngx-highlightjs.svg" data-canonical-src="https://www.npmjs.com/package/ngx-highlightjs">
      </a>
      <a href="https://github.com/MurhafSousli/ngx-sharebuttons/blob/master/LICENSE">
        <img src="https://camo.githubusercontent.com/25d313ccfafb08618b31899a22af11a5b8a79aad/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f6c2f657870726573732e7376673f6d61784167653d32353932303030"
          alt="npm" data-canonical-src="https://img.shields.io/npm/l/express.svg?maxAge=2592000" style="max-width:100%;">
      </a>

    </div>
    <div class="buttons">
      <a class="github-button" href="https://github.com/murhafsousli/ngx-highlightjs" data-icon="octicon-star"
        data-show-count="true" aria-label="Star murhafsousli/ngx-highlightjs on GitHub">Star</a>

      <a class="github-button" href="https://github.com/murhafsousli" aria-label="Follow @murhafsousli on GitHub">Follow
        @murhafsousli</a>

      <a class="twitter-follow-button" href="https://twitter.com/MurhafSousli" data-size="small" data-show-count="false">
        Follow @MurhafSousli</a>
    </div>
  </div>
</div>