:host {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
}

.logo {
  height: 100%;
  position: relative;
  display: flex;
  flex: 0 0 230px;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 1em;
}

::ng-deep {
  .buttons span {
    margin-right: 5px;
  }
  .badges a {
    margin-right: 5px;
  }
}
