<div class="wrapper">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    ngx-highlightjs
    <span style="flex: 1"></span>
    <a mat-button class="btn-icon" href="https://github.com/MurhafSousli/ngx-highlightjs">
      <img src="assets/github-logo.svg"> GITHUB
    </a>
  </mat-toolbar>
  <ng-scrollbar autoHeightDisabled="true">

    <app-header></app-header>

    <div class="container">

      <mat-form-field color="accent">
        <mat-select placeholder="Theme" [(value)]="theme" (valueChange)="changeTheme()">
          <mat-option *ngFor="let style of styles" [value]="style">{{style}}</mat-option>
        </mat-select>
      </mat-form-field>

      <h3>Ngx-Highlight Usage</h3>
      <!-- PREVIEW -->
      <app-gist id="de9decbcd2539d5ba399aedc598bcaa6"></app-gist>

      <h3>Ngx-Highlight Plus Usage</h3>
      <app-gist [id]="gistId"></app-gist>

      <div class="footer">
        <div class="author">Made with
          <mat-icon>favorite</mat-icon>
          by Murhaf Sousli
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
