@use '@angular/material' as mat;

:host {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  background: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, 900));
  padding: 3em 0;
  font-weight: 300;
}

.grid {
  width: 100%;
  height: 100%;
  max-width: 1255px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.logo {
  height: 100%;
  position: relative;
  display: flex;
  flex: 0 0 200px;
  justify-content: center;
  align-items: center;
}

.ng-logo {
  width: 180px;
  height: 180px;
}

.intro {
  padding: 1em;
}

.stackblitz img {
  margin-right: 5px;
}

::ng-deep {
  .buttons span {
    margin-right: 5px;
  }

  .badges a {
    margin-right: 5px;
  }
}
