<div fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center" class="grid">

  <div class="logo">
    <img class="ng-logo" src="assets/logo.svg"/>
  </div>

  <div class="intro">
    <h1>Angular Highlight.js</h1>
    <p>Instant code highlighting, auto-detect language, super easy to use!</p>

    <div class="badges">

      <a href="https://www.npmjs.com/package/ngx-highlightjs">
        <img src="https://img.shields.io/npm/v/ngx-highlightjs.svg?maxAge=2592000?style=plastic"
             data-canonical-src="https://www.npmjs.com/package/ngx-highlightjs">
      </a>

      <a href="https://github.com/MurhafSousli/ngx-highlightjs/actions?query=workflow%3Atests">
        <img src="https://github.com/MurhafSousli/ngx-highlightjs/workflows/tests/badge.svg"
             data-canonical-src="https://github.com/MurhafSousli/ngx-highlightjs/actions?query=workflow%3Atests">
      </a>
      <a href="https://codecov.io/gh/MurhafSousli/ngx-highlightjs" >
        <img src="https://codecov.io/gh/MurhafSousli/ngx-highlightjs/graph/badge.svg?token=JWAelEiLT1"/>
      </a>
      <!--DOWNLOADS-->
      <a href="https://www.npmjs.com/package/ngx-highlightjs">
        <img src="https://img.shields.io/npm/dt/ngx-highlightjs.svg?maxAge=2592000?style=plastic"
             data-canonical-src="https://www.npmjs.com/package/ngx-highlightjs">
      </a>
      <!--MONTHLY DOWNLOADS-->
      <a href="https://www.npmjs.com/package/ngx-highlightjs">
        <img src="https://img.shields.io/npm/dm/ngx-highlightjs.svg"
             data-canonical-src="https://www.npmjs.com/package/ngx-highlightjs">
      </a>
      <a href="https://github.com/MurhafSousli/ngx-sharebuttons/blob/master/LICENSE">
        <img
          src="https://camo.githubusercontent.com/083dc52912fad2da55cdde82517171e9dcc1aaf15877834d95135883672b2f8d/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f6c2f657870726573732e7376673f6d61784167653d32353932303030"
          alt="npm" data-canonical-src="https://img.shields.io/npm/l/express.svg?maxAge=2592000"
          style="max-width:100%;">
      </a>

    </div>
    <div class="buttons">

      <a class="stackblitz" href="https://stackblitz.com/edit/ngx-highlightjs">
        <img data-canonical-src="https://stackblitz.com/edit/ngx-highlightjs"
             src="https://img.shields.io/badge/stackblitz-online-orange.svg">
      </a>

      <iframe src="https://ghbtns.com/github-btn.html?user=murhafsousli&repo=ngx-highlightjs&type=star&count=true"
              frameborder="0" scrolling="0" width="94" height="20" title="GitHub"></iframe>

      <iframe src="https://ghbtns.com/github-btn.html?user=murhafsousli&type=follow&count=true" frameborder="0"
              scrolling="0" width="190" height="20" title="GitHub"></iframe>

      <a class="twitter-follow-button" style="margin-left: 4px;" href="https://twitter.com/MurhafSousli"
         data-size="small" data-show-count="false">Follow &#64;MurhafSousli</a>
    </div>
  </div>
</div>
