<md-toolbar color="accent">
  ngx-highlightjs
  <span style="flex: 1"></span>
  <a md-button class="btn-icon" href="https://github.com/MurhafSousli/ngx-highlightjs">
    <md-icon>fork</md-icon><i class="fa fa-github" aria-hidden="true"></i>Github
  </a>
</md-toolbar>

<app-header></app-header>

<div class="container">

  <!-- PREVIEW  -->

  <div class="grid" fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center flex-start">
    <md-card fxFlex="1 1 600px" fxFlex.lt-md="0 0 auto" color="accent">
      <md-card-header>
        <md-icon>visibility</md-icon>Preview
      </md-card-header>
      <md-card-content highlight="all">
        <pre perfect-scrollbar><code [textContent]="code"></code></pre>
      </md-card-content>
    </md-card>


    <!-- EDITOR -->

    <md-card fxFlex="1 1 600px">
      <md-card-header>
        <md-icon>code</md-icon>Editor
      </md-card-header>
      <md-card-content perfect-scrollbar>
        <textarea #text [(ngModel)]="code" [style.height.px]=text.scrollHeight></textarea>
      </md-card-content>

      <md-card-footer>

        <md-chip-list>
          <md-chip color="primary" selected="true" (click)="code = tsCode">TYPESCRIPT</md-chip>
          <md-chip color="primary" selected="true" (click)="code = htmlCode">HTML</md-chip>
          <md-chip color="primary" selected="true" (click)="code = scssCode">SCSS</md-chip>
          <md-chip color="primary" selected="true" (click)="code = bashCode">BASH</md-chip>
        </md-chip-list>
      </md-card-footer>
    </md-card>
  </div>

</div>