:host,
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    margin: 1em;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

md-chip-list {
    display: flex;
    justify-content: center;
}

md-chip {
    cursor: pointer;
}

md-card {
    display: flex;
    flex-direction: column;
    height: 310px;
    min-width: 250px;
    max-width: 600px;
    width: 100%;
    padding: 0 !important;
    margin: 1em;
}

md-card-header {
    margin: 0 !important;
    display: flex;
    align-items: center;
    height: 40px;
}

md-card-content {
    flex: 1;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

md-card-footer {
    padding: 10px !important;
    margin: 0 !important;
}

textarea {
    font-family: monospace, monospace;
    width: 100%;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.6em;
    border: none;
    outline: none;
    padding: 24px;
    box-sizing: border-box;
    color: white;
    background: transparent;
    flex: 1 0 auto;
    overflow: hidden;
}

pre {
    word-wrap: normal;
    height: 100%;
    margin-bottom: 0;
    code {
        width: 100%;
        min-height: 100%;
        line-height: 1.8em;
        display: block;
        font-size: 0.9em;
        padding: 24px;
        overflow: hidden;
    }
}

.btn-icon img {
    height: 38px;
    width: 38px;
    margin-right: 7px;
}

md-icon {
    margin-right: 0.5em;
}