/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import '~normalize.css';
@import '~@angular/material/theming';
@import '~perfect-scrollbar/dist/css/perfect-scrollbar.min.css';

@include mat-core();
$primary: mat-palette($mat-red, 700);
$accent: mat-palette($mat-grey, 800);
$warn: mat-palette($mat-lime, 400);
$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

body {
  background: url(assets/bg.jpg) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.grid {
  width: 100%;
  height: 100%;
  max-width: 1255px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.code-shortcuts .mat-toolbar-row {
  justify-content: center;
}

.code-editor {
  background-color: mat-color($primary, A100);
}
